<!DOCTYPE html>
<!--
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Idea Generation Experiment - Informed Consent</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed</h1>
                <hr />
                <div class="legal well">
                  <p>
                  You have been invited to take part in a research study named Idea Generation.</p>
                  <p>
                  The research is being conducted by Richard W. Hass, PhD. <a href="mailto:hassr@philau.edu?Subject=HIT%20Question" target="_top">Click here</a> to ask any and all questions before you begin.</p>
                  <p>
                  The study in which you will be participating is part of research intended to illuminate how people generate multiple ideas using memory. By conducting this study, the researcher hopes to add to the growing knowledge on creative thinking and idea generation. The researcher is a faculty member in Thomas Jefferson University’s Psychology program.</p>
                  <p>
                  If you agree to take part in this research, you will be asked to generate ideas to a number of prompts. The prompts will appear on the screen as English words. You will be given 3 minutes to think of responses for each of 10 prompts. There will be a chance for you to take breaks during the task, and between each break, there will be some downtime between the different prompts (approximately 5s). The tasks are not designed to be very difficult, nor will they expose you to any threatening, unpleasant, or otherwise aversive information. Rather, the experiment is designed to answer questions about human memory and creativity, which will have broad benefits to society.</p>
                  <p>
                  Your participation in this research is confidential. At the end of the experiment, you will be asked only to supply your age, gender, and ethnicity, along with a rating of how engaging the task was for you. Only the person in charge will have access to your identity and to information that can be associated with your identity. In the event of publication of this research, no personally identifying information will be disclosed. To make sure your participation is confidential we will keep all identifying information separate from our data for analysis. It is only used to provide payment for your HIT.</p>
                  <p> 
                  Your participation is voluntary. You are free to stop participating in the research at any time, or decline to participate further in the research without penalty.</p> 
                  <p>
                  By pressing the “I agree” button you are consenting to the following statements:
                  <ul>
                    <li>I agree to participate in a scientific investigation of Idea Generation as an authorized part of a research program of Thomas Jefferson University. </li>
                    <li>I understand the information given to me, and I have received answers to any questions I may have had about the research procedure. I understand and agree to the conditions of this study as described.</li>
                    <li>To the best of my knowledge and belief, I have no physical or mental illness or difficulties that would increase the risk to me of participation in this study.</li>
                    <li>I understand that I will receive $3 for participating, and that I am entitled to no other compensation.</li>
                    <li>I understand that my participation in this research is voluntary, and that I may withdraw from this study at any time by notifying the person in charge.</li>
                    <li>I am 18 years of age or older.</li>
                  </ul> 
                  </p>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr />
                <h4>Do you understand and consent to these terms?</h4>
                <br />

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>
