<div class="container-instructions">
  <h1>Instructions</h1>
  <div class="inside-instruct">
    <p>In this experiment, you will be prompted to generate ideas about specific prompts. You will do so
      with your computer keyboard. It is important that you are sitting in your normal typing position
      and that you type as you normally would as if you were taking notes or writing in a Word document.</p>

    <p>Take the opportunity to ready yourself now for typing. You will practice typing before any
      of the real tasks start.</p>

      <p>There will be 11 trials total, split into 3 blocks, with each block lasting 15 minutes except the first trial, which is a practice trial and will last 30 seconds. You will be allowed to take a break between the two experimental blocks, but remember, you have 70 minutes to complete this HIT. The tasks themselves will take no more than 35 minutes, including the short questionnaire at the end.</p>
      <p>The three blocks as follows:</p>
    <ol>
      <li>1 practice trial</li>
      <li>5 experiment trials</li>
      <li>5 experiment trials</li>
    </ol>
 </div>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
